html {
  overflow hidden
}

body {
  font-family "Open Sans"
  line-height 1.4
  background-color #f0f0f0
  overflow hidden
  -webkit-font-smoothing antialiased
}

textOverflow(view = block) {
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  display view
}
