# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# IntelliJ files
.idea/
*.iml

# Visual Studio Code files
.vscode/

# NPM packages folder.
/node_modules/

# Brunch folder for temporary files.
tmp/

# Brunch output folder.
/public/

# temp folder for uploads etc.
temp/

yarn.lock
